.background {
    -fx-background-image: url("backgroundl.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.blur_field{
    -fx-opacity: 0.3;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-control-inner-background-radius: 16;
}
.blur_field:hover{
    -fx-opacity: 0.1;
    -fx-background-color:lightgray;
}
.guzik{
    -fx-opacity: 0.7;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}
.guzik:hover{
    -fx-opacity: 0.5;

    }



